
{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'stylecss/article_detail.css' %}">


<center>
<form id="align-form" method="POST" style="width:800px; height:100%;">
    <h3>Leave a comment</h3>
    {% csrf_token %}
    
    {{ form.as_p }}
    
    <div class="form-group"> <button type="submit" id="post" class="btn" style="width:100px; height:100;">Login</button> </div>
   
</form>
</center>


<!--     <h1>Login</h1>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        

        <button class="btn btn-info">Login</button>
    </form>
</div> -->

{% endblock %}