{% extends 'main/base.html' %}

{% block content %}


<center><h1>All Articles</h1></center>
<!-- <ul>
    {% for post in article.latest_10_articles %}
    <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }} {{ post.author.last_name }}
        <br><br>
    {{ post.body|slice:":50"|safe }}</li>
    <br><br>
    {% endfor %}
</ul> -->

{% include 'main/allarticlecard.html' %}
{% include 'main/floatingbutton.html' %}
{% endblock %}
