.contain {
    justify-items: start;
    margin-top: 25px;
    height: 100%;
    background: rgba(255, 255, 255);
    border-radius: 0.5rem;
    display: grid;
    /* place-items: center; */
    justify-content: start;
    padding: 10px;
    box-shadow: 0px 4px 20px rgba(12, 12, 12, 0.055);
   
    
}

h1,h2,h3,h4,h5,h6,p{
color: #000000;
}

.line-1 {
height: 1px;
background: black;
}

.fix.contain.icons{
display: flex;
justify-content: space-around;

}

/* .comments{
line-height:5px;
} */


#profile {
background-color: unset;
}

.row {
/* display: grid;
grid-template-columns: 1000px 400px;
grid-template-areas: "leftgrid align-form";
column-gap: 10px; */
display: flex;
flex-direction: row;
justify-content: space-around;
justify-self: start;
column-gap: 10px;
place-items: start;
}
@media screen and (max-width: 1068px){
.row {
display: flex;
flex-direction: column-reverse;
}
.comment:nth-of-type(2n),.comment:nth-of-type(2n+1){
    /* min-width: 300px; */
    max-width: 700px;
}
}

#post {
margin: 10px;
padding: 6px;
padding-top: 2px;
padding-bottom: 2px;
text-align: center;
background-color: #ecb21f;
border-color: #a88734 #9c7e31 #846a29;
color: black;
border-width: 1px;
border-style: solid;
border-radius: 13px;
/* width: 70%; */
}



/* #nav-items li a, */
#profile {
text-decoration: none;
color: rgb(224, 219, 219);
background-color: black;
}

/* .comments {
margin-top: 5%;
margin-left: 20px
}
*/

.leftgrid{
max-width:800px;
}

.comment:nth-of-type(2n) {
/* border: 1px solid #ecb21f; */
box-shadow: 1px 0px 10px 1px rgb(184, 183, 183);
background: white;  
/* background: -webkit-linear-gradient(to right, rgba(0,152,155,1), rgba(0,94,120,1)); 
 background: linear-gradient(to right, rgba(0,152,155,1), rgba(0,94,120,1)); */
float: left;
border-radius: 5px;
padding-left: 40px;
padding-right: 30px;
padding-top: 10px;
max-width: 600px;
min-width: 600px;
/* width: 20%; */
}

.comment:nth-of-type(2n+1) {
/* border: 1px solid rgba(16, 46, 46, 1); */
box-shadow: 1px 0px 10px 1px rgb(184, 183, 183);
background: rgba(0,152,155,1);  
/* background: -webkit-linear-gradient(to left, rgba(0,152,155,1), rgba(0,94,120,1)); 
 background: linear-gradient(to left, rgba(0,152,155,1), rgba(0,94,120,1)); */
float: left;
border-radius: 5px;
padding-left: 40px;
padding-right: 30px;
padding-top: 10px;
max-width: 600px;
min-width: 600px;
margin-top: 10px;
margin-bottom: 10px;
/* width: 20%; */
}

.comment h4,
.comment span,
.darker h4,
.darker span {
display: inline;
}

.comment p,
.comment span {
/* color: rgb(184, 183, 183); */
color: black;
}

h1,
h4 {
color: black;
font-weight: bold;
}

label {
color: rgb(212, 208, 208);
}

#align-form {
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 70px;
/* max-width: 300px; */
/* float: right; */
/* width: 300px;
height: 350px; */

}

#align-form textarea, #align-form input {
border-radius: 5px;
width: 500px;
height: 50px;
justify-content: center;
}
.form-group p a {
color: white;

}

.comments.formcomment{
    max-width: 200px;
}

.form-group.btn {
    width: 500px;
height: 50px;
}


#darker img {
margin-right: 15px;
position: static;
}

.form-group input,
.form-group textarea {
background-color: black;
/* border: 1px solid rgba(16, 46, 46, 1); */
border-radius: 12px;
margin-bottom: 30px;
/* width: 18rem; */
width: 18rem;
}

form {
/* border: 1px solid rgba(16, 46, 46, 1); */
box-shadow: 2px 2px 10px 1px rgb(184, 183, 183);
background-color: rgba(0,94,120,1);
border-radius: 5px;
padding: 20px;
}